@font-face {
    font-family: futura;
    src: url(Futura-Bold.woff2);
}
@font-face {
    font-family: hello;
    src: url(HelveticaNowText-Regular.woff2);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
html,body{
    width: 100%;
    height: 100%;
}
#page1{
    min-height: 100vh;
    width: 100%;
    position: relative;

   
}
#page1>h1{
    font-family: futura;
    font-size: 16vw;
    line-height: 13.5vw;
   text-transform: uppercase;
   padding: 155px 0px 10px 25px;
   letter-spacing: -0.9vw;
   
}
#nav{
    width: 100%;
    height: 100px;
display: flex;
justify-content: space-between;
    padding: 25px 25px 10px 25px;
    position: fixed;
    z-index: 999;
    
}
#nav-icon{
    display: flex;
   background-color: rgb(0, 0, 0);
   color: white;
   height: 50%;
   border-radius: 20vw;
   width: 90%;
   justify-content: center;
   align-items: center;
   gap: 3.5vw;
   margin-left: 50px;
   padding: 8px;

}
#nav img{
    height: 100%;
   
}
#navright{
    display: flex;
    align-items: baseline;
}

#navright a {
    text-decoration: none;
    color: black;
   font-family: hello;
   font-weight: 100;
   font-size: 1vw;
}
#navright a{
    padding-left: 50px;
}

#navright #ficon{
    padding: 0;
}
#video1{
    width: 95%;
    height: 100vh;
 
    margin-left: auto;
    margin-right: auto;
    position: relative;
    
}
#video1 video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;

 
}
#page1 #video1 #playvideo{
   height: 8vw;
   width: 8vw;
    background-color: rgb(0, 0, 0);
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 50%;
    position: fixed;
    z-index: 1; 
    /* top: 0;
    left: 0; */
    transform: translate(-50%,-50%);
    /* opacity: 0.5; */
   cursor: pointer;
}
#page1 #video1 #playvideo>h2{

color: white;
  font-family: hello;
  
}
#page2{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 15px 10px;
    position: relative;
}
.imgbox2{
    width: 30%;
    height: 90vh ;
    position: relative;
    
}
.imgbox2 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    
   
}
.imgbox2 .centerimg{
  position: absolute;
  height: 60px;
  width: 60%;
 
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 999;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  justify-content: space-between;

}
.imgbox2 .centerimg:hover .hoverelem{
    position: absolute;
    z-index: -1;
    overflow: hidden;
    border-radius: 20px;
    opacity: 1;
    height: 215px;
    background-color: #f5dfcf;

}
.centerimg .topcenterimg{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #f5dfcf;
    border-radius: 20px;
    padding: 10px 5px 10px 5px;
   
}
.topcenterimg .dot2{
    width: 0.5vw;
    height: 0.5vw;
    background-color: black;
    border-radius: 50%;
}
.hoverelem{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    opacity: 0;
}
.hoverelem .elemleft{
    padding-left: 10px;
}
.hoverelem .elemleft p{
    font-size: 1vw;
    text-align: center;
}
.hoverelem .elemright p{
    font-size: 1vw;
    text-align: center;
}
.topcenterimg h2{
    font-weight: 100;
    font-size: 1vw;
    font-family: hello;
}
.topcenterimg h3{
    font-weight: 900;
    font-size: 1vw;
    font-family: hello;
}
.topcenterimg i{

    font-size: 1.5vw;
   

}
#page3{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
#page3 #left3{
     width: 60%;
     height: 80vh;
  
}
#page3 #left3 h1{
    font-size: 6vw;
    line-height: 5.5vw;
}
#page3 #right3{
     width: 30%;
     height: 80vh;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     padding: 10px 20px;
}
#page3 #right3 p{
    line-height: 2vw;
    font-size: 1.5vw;
}
#page3 #right3 a{
   
    text-decoration: none;
    color: black;
  
}
#page3 #right3 a:hover{
    width: 145px;
    border-bottom: 1px solid black;
}
#page4{
    position: relative;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
#page4 .box4{
    margin: 10px;
    width: 45%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.box4 img{
    height: 75%;
    width: 100%;
    object-fit: cover;
    object-position: center;

}
.box4 P{
    text-align: center;
}
.box4 P span{
  font-size: 0.8vw;
}
#page5{
    min-height: 180vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
   
    margin-top: 80px;
    
}
#page5 h1{
    text-align: center;
    width: 80%;
    font-size: 7vw;
    text-transform: uppercase;
    font-family: futura;
    letter-spacing: -6px;
    line-height: 6.4vw;
    margin-bottom: 55px;


}
#page5 button{
    padding: 2vw 10vw;
    border-radius: 20vw;
    border: transparent;
    background-color: black;
    color: white;
    margin-bottom: 25px;
}
#page5 p{
    width: 22%;
    text-align: center;
    font-size: 1.4vw;
    font-weight: 600;
}
#page6{
 min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
}
#left6{
    width: 30%;
    height: 95%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 50px;
    padding: 0 10px 50px 10px;
    font-family: hello;
}
#left6 a{
    color: black;

}

#right6{
    width: 60%;
    height: 100%;
 
    display: flex;
    justify-content: space-between;
    
}
#right6 img{
    object-fit: cover;
    object-position: center;
}
#page7{
    min-height: 100vh;
    width: 100%;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
#page7 input{
    width: 90%;
    border: transparent;
    outline: none;
    border-bottom: 1px solid black;
    opacity: 1;
    font-size: 3vw;
    margin-top: -8px;
    background-color:white;
   
 
}
#page7 input::placeholder{
    color: black;
    font-family: hello;
    font-size: 3vw;
    
}
#footer{
    height: 100vh;
    width: 100%;
    display: flex;
   justify-content: space-between;
   padding: 10px 40px 10px 40px;
   /* background-color: aqua; */
   align-items: center;

}

.fleftright{
    width: 15%;
    /* background-color: rgb(241, 7, 7); */
    display: flex;
    flex-direction: column;
}
.fleftright h2{
    font-family: hello;
    font-size: 1.1vw;
    color: rgba(0, 0, 0, 0.356);
}
#fcenter{
    width: 65%;
    /* background-color: blue; */
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#fcenter img{
    height: 100%;
    width: 40%;
    object-fit: cover;
    object-position: center;
}
.fleftright a{
    font-family: hello;
    font-size: .9vw;
    margin-top: 10px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.832);
}
#rightfooter{
    text-align: right;
}
#centerbtm{
    display: flex;
    margin-top: 20px;
    color: rgba(0, 0, 0, 0.533);
    gap: 10px;
}
 #lastpage{
    width: 100%;
    height: 40vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;

}
#lastpage p{
    text-align: center;
    width: 65%;
    font-size: 1.3vw;
}
@media (max-width:676px){
    #nav{
        height: 75px;
        padding: 5px;
        margin-top: 10px;
    }
    #navright{
        align-items: baseline;
    }
    #navright a {
        padding: 4px;
        font-size: 2.4vw;
    }
    #nav-icon{
        width: 90%;
        margin-left: 0;
        padding: 2px 5px;
        gap: 9vw;

    }
    #nav-icon i{
        font-size: 3vw;
        
    }
    #page1{
        margin-top: 0;
    }
    #page1>h1{
        font-size: 14vw;
        line-height: 14vw;
        padding-left:  10px; ;
    }
    #video1 {
      height:30vh;
    }
   
    #page1 #video1 #playvideo {
    opacity: 0;
    }
    #page2{
        flex-direction: column;
        padding-top: 40px;
    }
    .imgbox2 {
        width: 100%;
        margin-bottom: 15px;
    }
    .topcenterimg h2{
        font-size: 3vw;
    }
    .topcenterimg h3{
        font-size: 3vw;
    }
    .topcenterimg .dot2 {
        width: 2vw;
        height: 2vw;
    }
    .hoverelem .elemleft p{
        font-size: 3vw;
    }
    .hoverelem .elemright p{
        font-size: 3vw;
    }
    .topcenterimg i{
        font-size: 3.5vw;
    }
    #page3{
        flex-direction: column;
        height: 60vh;
        padding-top: 50px;
    }
    #page3 #left3 h1 {
        font-size:8vw;
        line-height: 8vw;
    }
    #page3 #left3 {
        width: 75%;
        height: 20vh;
      
    }
    #page3 #right3 p {
        font-size: 4vw;
        line-height: 4vw;
    }
    #page3 #right3{
        width: 75%;
        padding: 0;
        height: 40vh;
        justify-content: space-evenly;
    }
    #page3 #right3 a {
        font-size: 3vw;
    }
    #page4 .box4{
        width: 100%;
        height: auto;
    }
    #page5 h1{
        letter-spacing: -1px;
        line-height: 7vw;
        margin-bottom: 25px;
    }
    #page5 button{
        padding: 3vw 8vw;
    }
    #page5 p{
        width: 45%;
        font-size: 2.5vw;
        font-weight: 100;
    }
    #page5{
        min-height: 60vh;
    }
    #page6 {
        flex-direction: column;
       
    }
    #left6{
        width: 100%;
    }
    #right6 {
        width: 100%;
        flex-direction: column;
     
    }
    #right6 img{
        margin-bottom: 20px;
    }
    #fcenter{
        height: auto;
    }
    #centerbtm {
        flex-direction: column;
    }
    .fleftright{
        width: 35%;
    }.fleftright a {
        font-size: 2.5vw;
    }
    #footer{
        height: 35vh;
        padding: 10px 8px 10px 8px;
    }
    .fleftright h2 {
       
        font-size: 3.1vw;
       
}
#lastpage {
    height: 18vh;
}
#lastpage p {
   
    width: 95%;
    font-size: 2.5vw;
}
#page7{
    min-height: 55vh;
}
}
